<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar bg-light">
  
  <div class="container-fluid catlog">
    <div class="navbar-header">
      <a class="navbar-brand btn btn-success" href="{% url 'category' %}">View by categories</a>
      <a class="navbar-brand btn btn-success" href="{% url 'location' %}">View by Locations</a>
    </div>
  </div>
   
</form>

</nav>

</body>
</html>