{%extends 'all-photos/base.html'%}

{% block content %}

<div class="wrapper">

<div class="container-fluid body">
<div class="desc">
    <p>They say a picture speaks a thousand word</p>
    <p>Here, you will view various pictures in different categories, take in different location</p>
</div>
<div class="view-gallery">
<a class="navbar-brand" href="{% url 'gallery' %}"><div class="btn btn-success p-2"> General Gallery</div></a>
</div>
{{block.super}}

<div style="display:flex; justify-content:space-around; margin-top:10px; ">
<div class="left" style="color:#fff; padding: 10px;">
<p>Categories:</p>
<ul type='none' >
    <li>Nature</li>
    <li>Technology</li>
    <li>Love</li>
</ul>
</div>
<div class="right" style="height:20vh;width:30vw;background-color:#393b3a; color:#fff; padding: 10px;">
    <p>Locations:</p>
    <ul type='none' >
        <li>Karatina</li>
        <li>Kericho</li>
        <li>Nairobi</li>
    </ul>
</div>

</div>

<footer>
    <div class="twitter">
        <p>follow me on twitter: @djchepkuta</p>
    </div>

    <div class="facebook">
        <p>Facebook: Kelvin Dj Chepkuta</p>
    </div>
    <div class="email">
        Email me: ronohkelvin99@gmail.com
    </div>
</footer>

</div>
{% endblock %}